.contenedor-principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 62px;
  background-color: #FCDDEC;
  position: relative;
}

.header img {
  height: 55px;
  width: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titles {
  color: #000;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
  margin-top: 8px;
}

.favorites {
  display: flex;
  height: 140px;
  width: 100%;
  animation: slideFadeInVertical 0.5s ease;
}

ion-segment {
  background-color: transparent;
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item-list {
  height: 140px;
}

.item {
  height: auto;
  width: 120px;
  margin: 11px;
  border-radius: 10px !important;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.img-prueba {
  width: 100%;
  height: 74px;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
}

.item-title {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideFadeInVertical 0.5s ease;
}


.button-list {
  height: auto;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 104px;
  margin: 11px;
  border-radius: 15px;
  background-color: #FBD4DC;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  font-weight: 600;
  font-size: 15px;
}

.recetas {
  width: 100%;
  flex: 1;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  animation: slideFadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(100%);
}

.main-list {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.receta {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background: #FFDEFA;
}

.img {
  width: 120px;
  height: 120px;
  background-color: #333333;
  border-radius: 10px 0px 0px 10px;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFadeInVertical {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
