<div class="container">
  <div class="icon">
    <i class="fa-solid fa-circle-user" style="font-size: 25px"></i>
    <!-- El icono se muestra si no esta logeado, la foto se muestra logeado -->
  </div>
  <div class="icon"><i class="fa-solid fa-heart" style="font-size: 25px"></i></div>
  <div class="icon"><i class="fa-solid fa-circle-plus fa-2x" [routerLink]="['/app/insert']"></i></div>
  <div class="icon"><i class="fa-solid fa-circle-exclamation" style="font-size: 25px"
                       [routerLink]="['/app/auth/login']"></i></div>
  <div class="icon"><i class="fa-solid fa-magnifying-glass" style="font-size: 25px"
                       [routerLink]="['/app/auth/register']"></i></div>
</div>
