<div class="contenedor">
  <i class="fa-solid fa-chevron-left fa-2x animate__animated animate__fadeInDownBig animate__fast" (click)="irAtras()"></i>
  <img src="assets/8550547.png" class="animate__animated animate__fadeInDownBig animate__fast">
  <div class="promo animate__animated animate__fadeInUpBig animate__fast">¡Unete y conoce miles de recetas distintas!</div>
  <button type="button" class="animate__animated animate__fadeInUpBig animate__fast" [routerLink]="['/auth/register']">Registrate</button>
  <div class="login animate__animated animate__fadeInUpBig animate__fast" [routerLink]="['/auth/login']">¿Ya tienes cuenta? <br> Inicia sesion</div>
</div>
